// ==UserScript==
// @name {{name}}
// @version {{version}}
// @description {{description}}
// @downloadURL http://code.178.is/github-diff-submodules/github-diff-submodules.user.script.js
// @match     *://github.com/*
// ==/UserScript==
